.scroller {
    position:relative ;
    padding:0;
    margin:0;
    
    top:1;
    left:0;
    
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
	overflow-y: scroll;
}


.wrapper {
    height: 200px;
    display: flex;
    gap: 20px;
  }
  
  .box {
    border: 1px solid #a6a1a1;
  }
  
  .box img {
    width: 20%;
    height: 20%;
  }
  
  .box1 img {
    object-fit: cover;
  }