.team-info {
  margin: 50px;
  height: auto;
}

/* .team-info img {
  height: 150px;
  width: 150px;
  text-align: right;
} */

.team-info h1 {
  font-weight: bold;
  font-size: calc(30px + 0.75vmin);
  margin-bottom: 15px;
  color:  rgb(86, 163, 48);
}
.team-info h2 {
  font-size: calc(12px + 0.75vmin);
  color:  rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 0px;
  margin-top: 5px;
}

.team-info p {
  /* font-weight: 500; */
  font-size: calc(10px + 0.75vmin);
  color:  rgb(0, 0, 0);
}

.team-info ol {
  list-style-position: inside;
  display: inline-block;
  text-align: left;
}

.team-info li {
  font-size: calc(10px + 0.6vmin);
  color:  rgb(0, 0, 0);
  font-weight: 500;
}

#wrapper{
	width: auto;
	text-align: center;
	max-width: 960px;


	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}